<!--Swiper-->
<div class="rd-parallax rd-parallax-swiper">
  <div data-speed="0.3" data-sm-speed="1" data-type="html" class="rd-parallax-layer">
    <div data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px" class="swiper-container swiper-slider">
      <div class="swiper-wrapper text-center">
        <div id="page-loader" data-slide-bg="/static/img/banner/couple.jpg" data-preview-bg="/static/img/banner/couple.jpg" class="swiper-slide">
          <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">
            <div class="swiper-slide-caption">
              <div class="shell">
                <div class="range range-lg-center">
                  <div class="cell-lg-12">
                    <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="text-uppercase">Rewards credit cards made easy</span></h1>
                  </div>
                  <div class="cell-lg-10 offset-top-30">
                    <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="reveal-sm-block text-light">
                      Find the best rewards credit card for your needs, anytime, anywhere
                    </h4>
                    <h4 data-caption-animate="fadeInUp" data-caption-delay="1000" class="hidden reveal-sm-block text-light" style="margin-top:5px;">
                      Get updates on new offers right when they get released
                    </h4>
                    <div class="group group-xl offset-top-20 offset-xs-top-50">
                      
                      <a href="/cards/" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-primary btn-lg">
                        <span class="btn-text">Browse cards now</span>
                      </a>
                      <a href="/app/" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-default btn-lg">
                        <span class="btn-text">Get the app</span>
                        <span class="small" style="margin-left:5px;opacity:0.5;"><small>(coming soon)</small></span>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>