{% extends 'base.html' %}

{% block main_style %}
	background: #191919 url(/static/img/banner/stone.jpg) 0/cover no-repeat
{% endblock main_style %}

{% block content %}
	<div class="one-page">
	  <div class="one-page-header">
	    <!--Navbar Brand-->
	    <div class="rd-navbar-brand"><a href="/"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='/static/img/logo-light.png' alt=''/></a></div>
	  </div>
	  <!-- 404-->
	  <section class="context-dark">
	    <div class="shell">
	      <div class="range">
	        <div class="section-110 section-cover range range-xs-center range-xs-middle">
	          <div class="cell-lg-6">
	            <h3>Sorry, but this page cannot be found</h3>
	            <hr class="divider bg-mantis">
	            <div class="text-extra-big text-light">404</div>
	            <p class="offset-top-50">You may have mistyped the address or the page may have moved.</p>
	            <div class="group offset-top-30">
	            	<a href="/" class="btn btn-icon btn-icon-left btn-primary"><span class="icon mdi mdi-arrow-left"></span>back to home</a>
	            	<a href="mailto:info@myrewardsguide.com" class="btn btn-icon btn-icon-left btn-default"><span class="icon mdi mdi-email-outline"></span>Contact us</a>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
	  <div class="one-page-footer">
			<p style="color: rgba(255,255,255, 0.3)" class="small">My Rewards Guide &copy; <span id="copyright-year"></span> . <a href="/privacy-policy/">Privacy Policy</a></p>
		</div>
	</div>
{% endblock content %}
