<!-- Default footer-->
<footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
  <div class="shell">
    <div class="range range-sm-center text-lg-left">
      <div class="cell-sm-8 cell-md-12">
        <div class="range range-xs-center">
          <div class="cell-xs-7 text-xs-left cell-md-4 cell-lg-3 cell-lg-push-4">
            <h6 class="text-uppercase text-spacing-60">Latest news</h6>
                  <!-- Post Widget-->
                  <article class="post widget-post text-left text-picton-blue"><a href="blog-classic-single-post.html">
                      <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                        <div class="unit-body">
                          <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right"></span>
                            <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                          </div>
                          <div class="post-title">
                            <h6 class="text-regular">Let’s Change the world</h6>
                          </div>
                        </div>
                      </div></a></article>
                  <!-- Post Widget-->
                  <article class="post widget-post text-left text-picton-blue"><a href="blog-classic-single-post.html">
                      <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                        <div class="unit-body">
                          <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right"></span>
                            <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                          </div>
                          <div class="post-title">
                            <h6 class="text-regular">The meaning of Web Design</h6>
                          </div>
                        </div>
                      </div></a></article>
                  <!-- Post Widget-->
                  <article class="post widget-post text-left text-picton-blue"><a href="blog-classic-single-post.html">
                      <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                        <div class="unit-body">
                          <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right"></span>
                            <time datetime="2016-01-01" class="text-dark">05/14/2015</time>
                          </div>
                          <div class="post-title">
                            <h6 class="text-regular">Get Started with TemplateMonster</h6>
                          </div>
                        </div>
                      </div></a></article>
          </div>
          <div class="cell-xs-5 offset-top-41 offset-xs-top-0 text-xs-left cell-md-3 cell-lg-2 cell-lg-push-3">
            <h6 class="text-uppercase text-spacing-60">Useful Links</h6>
            <div class="reveal-block">
              <div class="reveal-inline-block">
                <ul class="list list-marked">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="clients.html">Clients</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cell-xs-12 offset-top-41 cell-md-5 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2">
            <h6 class="text-uppercase text-spacing-60">Newsletter</h6>
            <p>Keep up with our always upcoming  product features  and technologies. Enter your e-mail and subscribe to  our newsletter.</p>
            <div class="offset-top-30">
                    <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                      <div class="form-group">
                        <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                          <input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                        </div>
                      </div>
                      <div id="form-subscribe-footer" class="form-output"></div>
                    </form>
            </div>
          </div>
          <div class="cell-xs-12 offset-top-66 cell-lg-3 cell-lg-push-1 offset-lg-top-0">
            <!-- Footer brand-->
            <div class="footer-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/intense/logo-light.png' alt=''/></a></div>
            <p class="text-darker offset-top-4">Feel the power of future</p>
                  <ul class="list-inline">
                    <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>
                    <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>
                    <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
                    <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>
                  </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shell offset-top-50">
    <p class="small text-darker">Intense &copy; <span id="copyright-year"></span> . <a href="/privacy-policy.">Privacy Policy</a></p>
  </div>
</footer>